*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color:white;
}

a{
  color: black;
  text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-right li{
    margin-left: 10px;
    font-weight: bold;
}

.nav-left, .nav-right{
    display: block;
    align-items: center;
}

.nav-right {
    margin-left: auto;
}

.profile-image {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 2%;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-name{
    text-align: center;
    font-size: 25px;
}

.section1{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 40em;
    margin-top: 5%;
    color: black;
    display: flex;
}

.sec-left,.sec-right{
    width: 50%;
    padding: 20px;
}

.sec-right img {
    margin-left: 30%;
    width: auto;
    height: 100%;
    top:10;
  }

  .section1 p{
    font-size: large;
  }

  .section2 {
    max-width: 50%;
    margin: auto;
    height: 20em;
    margin-top: 5%;
    color: black;
    display: flex;
    justify-content: space-around;
  }
  
  .left,.middle{
    max-width: 50%;
    max-height: auto;
  }


  
  .left img, .middle img{
    width: 100%;
    height: 80%;
    top:10;
  }
  .section2 p{
    font-size: larger;
    text-align: center;
  }
  .section2 a{
    color: black;
    text-decoration: none;
  }

  .section3 {
    max-width: 80%;
    margin: auto;
    margin-top: 10%;
    color: black;
  }

  .section3 h1{
    text-align: center;
  }

.design-img {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.img-container {
    max-width: 30%;

}

.img-container img {
    width: 60%;
    height: auto;
}



footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  margin-top: 5%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-item {
  text-align: center;
}

.footer-item p {
  font-size: 18px;
}

footer a{
  text-decoration: none;
  color: black;
}








@media only screen and (max-width: 768px) {
  .section1 {
      flex-direction: column;
      height: auto;
  }

  .section1 .sec-left,
  .section1 .sec-right {
      width: 100%;
  }

  .section2,
  .design-img {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
  }

  .section2 .left,
  .section2 .middle,
  .img-container {
      max-width: 100%;
  }

  .footer-content {
      flex-direction: column;
      align-items: center;
  }
}